<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG TITLE</title><!-- 블로그 제목 바꾸기 -->
    <meta name="og:title" content="BLOG TITLE"><!-- Open Graph : 카톡이나 페북에 공유할때 예쁘게 뜨게 만드려면 이걸 건드려야함. 자세한건 검색 -->
    <meta name="og:description" content="OOO의 블로그 입니다.">
    <meta name="og:image" content="img/og-title.jpg">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css"><!-- 웹폰트 -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login_style.css">
  </head>
  <body>
    <section id="login">
  		<article>
  			<form action="" method="post">
  				<input type="email" name="email" placeholder="이메일" required>
  				<input type="password" name="password" placeholder="비밀번호" required>
  				<input type="submit" value="로그인">
  			</form>
  		</article>
  	</section>
  </body>
</html>
